@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #260101, #BF5B45);
    }
    
    #login{
        width: 90vw;
        height: 280px;
    }

    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }

    #formulario{
        float: right;
        width: 70%;
    }

    h1{
        font-size: 1.7em;
    }

    #formulario > p{
        font-size: 1em;
        margin: 20px 0;
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to top, #260101, #BF5B45);
    }
    
    #login{
        width: 950px;
        height: 320px;
    }

    #imagem{
        float: right;
        width: 50%;
        height: 100%;
    }

    #formulario{
        float: left;
        width: 50%;
    }

    h1{
        font-size: 1.8em;
    }

    #formulario > p{
        font-size: 1em;
        margin: 20px 0;
    }
}