@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    background-color: #BF5B45;
    height: 100vh;
    width: 100vw;
}

main{
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 260px;
    height: 480px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
    overflow: hidden;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}

#imagem{
    display: block;
    background: #BF5B45 url(../imagens/predio.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario > h1{
    text-align: center;
    margin-bottom: 5px;
}

#formulario > p{
    margin: 10px 0;
}

.campo{
    background-color: #BF5B45;
    height: 40px;
    border: 2px solid #BF5B45;
    border-radius: 8px;
    margin: 5px 0;
}

.dados{
    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

.campo > input{
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border-radius: 8px;
    border: 0;
    padding: 5px;
    transform: translateY(-12px);
}

input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 30px;
    background-color: #5FD9D9;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #429999;
}

.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 30px;
    padding-top: 4px;
    margin-top: 5px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid #389e9e;
    color: #389e9e;
    text-decoration: none;
}

.botao > span{
    font-size: 0.8em;
}

.botao:hover{
    background-color: #84dddd;
}